

.swipego-page  body {
    font-family: 'Qanelas Soft' !important;
}



.toplevel_page_swipego {
    background-color: #f4f4f5;
}


.swipego-page code,   .swipego-page  kbd,  .swipego-page  pre,  .swipego-page  samp {
    font-family: 'Qanelas Soft' !important;
}

.font-sans {
    font-family: 'Qanelas Soft' !important;
}

@media screen and (max-width: 782px) {
    .swipego-page {
        padding-right: 10px;
    }
}
.swipego-page h3 {
    font-size: 1.17em !important;
}
.swipego-page input[type=checkbox]:checked::before,
.swipego-page input[type=radio]:checked::before {
    content: '' !important;
}
.swipego-page input[name=environment] {
    position: relative;
}
.swipego-page input[name=environment]:checked::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23623f99' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E") !important;
    background-color: transparent !important;
    width: 2em !important;
    height: 2em !important;
    line-height: normal !important;
    border-radius: 0 !important;
    margin: 0 !important;
    position: absolute;
    top: -0.2rem;
    left: -0.3em;
}



img {
    border: none !important;
}
input:checked+.toggle-bg {
    background: #623f99 !important;
    border-color: #623f99 !important;
}

.items-center {
    align-items: center !important;
}
.swipego-page ol{
    list-style: none;
}

.relative {
    position: relative !important;
}

.flex {
    display: flex !important;
}
.half-width{
width: 50%;
}

.overflow-hidden {
    overflow: hidden !important;
}
.w-20 {
    width: 5rem !important;
}

.pr8{
    padding-right: 2rem !important
}

.swipego-page ::after, .swipego-page::before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty, );
    --tw-brightness: var(--tw-empty, );
    --tw-contrast: var(--tw-empty, );
    --tw-grayscale: var(--tw-empty, );
    --tw-hue-rotate: var(--tw-empty, );
    --tw-invert: var(--tw-empty, );
    --tw-saturate: var(--tw-empty, );
    --tw-sepia: var(--tw-empty, );
    --tw-drop-shadow: var(--tw-empty, );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.pl-5 {
    padding-left: 1.25rem !important;
}

.w-20 {
    width: 5rem !important;
}